<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sellable_type.name %>
</p>

<%= link_to 'Edit', edit_sellable_type_path(@sellable_type) %> |
<%= link_to 'Back', sellable_types_path %>
