

@import 'bourbon/bourbon';

@import 'reset';

$main-color: rgb(239, 149, 8);
$hover-color: rgba(255, 255, 255, .3);
$grey: #585858;

body {
	background-color: #eaebec;
}

.news-txt a {
	float: right;
}
.news-txt table {
	font-size: 12px;
	color: #717171;
	border: #bbbbbb 1px solid;
	border-radius: 2px;
}
.news-txt table tbody tr td {
	border-bottom: #bbbbbb 1px solid;
	padding: 5px 10px;
}

#makerbot-replicator, #ultimaker2, #troteclaser {
	display: none;
}

.news-item {
	display:inline-block;width: calc(50% - 1.4em);
	border: 1px #eaebec solid;
	border-radius: 3px;
    padding: 10px;
    margin: 3px;
} 
@media (max-width: 520px) {
  	.news-item {
		width: calc(100% - 1.4em) !important;
 	}
}

.thumb > img {width: 150px; height: 150px;}
.thumb {text-align:center;}

.cd-tabs {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 2em auto;

}
.cd-tabs:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs::after {
  /* subtle gradient layer on top right - to indicate it's possible to scroll */
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  z-index: 1;
  pointer-events: none;
  background: -webkit-linear-gradient( right , #f8f7ee, rgba(248, 247, 238, 0));
  background: linear-gradient(to left, #f8f7ee, rgba(248, 247, 238, 0));
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.no-cssgradients .cd-tabs::after {
  display: none;
}
.cd-tabs.is-ended::after {
  /* class added in jQuery - remove the gradient layer when it's no longer possible to scroll */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-tabs nav {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #f8f7ee;
  box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
}
@media only screen and (min-width: 768px) {
  .cd-tabs::after {
    display: none;
  }
  .cd-tabs nav {
    position: fixed;
    top: 55px;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1;
  }
}

.cd-tabs-navigation {
  	//width: 360px;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}
.cd-tabs-navigation li {
  float: left;
}
.cd-tabs-navigation a {
  position: relative;
  display: block;
  height: 60px;
  width: 100px;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  color: #c3c2b9;
  padding-top: 25px;
  text-decoration: none;
}
.no-touch .cd-tabs-navigation a:hover {
  color: #29324e;
  background-color: rgba(233, 230, 202, 0.3);
}
.cd-tabs-navigation a.selected {
  background-color: #ffffff !important;
  box-shadow: inset 0 2px 0 #f05451;
  color: #29324e;
}
.cd-tabs-navigation a[data-content='1']::before {
  background-position: 0 0;
}
.cd-tabs-navigation a[data-content='2']::before {
  background-position: -20px 0;
}
.cd-tabs-navigation a[data-content='3']::before {
  background-position: -40px 0;
}
.cd-tabs-navigation a[data-content='4']::before {
  background-position: -60px 0;
}
.cd-tabs-navigation a[data-content='5']::before {
  background-position: -80px 0;
}
.cd-tabs-navigation a[data-content='6']::before {
  background-position: -100px 0;
}
.cd-tabs-navigation a[data-content='7'].selected::before {
  background-position: 0 -20px;
}
.cd-tabs-navigation a[data-content='8'].selected::before {
  background-position: -20px -20px;
}
.cd-tabs-navigation a[data-content='9'].selected::before {
  background-position: -40px -20px;
}
.cd-tabs-navigation a[data-content='10'].selected::before {
  background-position: -60px -20px;
}
.cd-tabs-navigation a[data-content='11'].selected::before {
  background-position: -80px -20px;
}
.cd-tabs-navigation a[data-content='12'].selected::before {
  background-position: -100px -20px;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-navigation {
    /* move the nav to the left on medium sized devices */
    width: 80px;
    float: left;
  }
  .cd-tabs-navigation a {
    height: 80px;
    width: 80px;
    padding-top: 35px;
  }
  .cd-tabs-navigation a.selected {
    box-shadow: inset 2px 0 0 #f05451;
  }
  .cd-tabs-navigation a::before {
    top: 22px;
  }
}

.cd-tabs-content {
  background: #ffffff;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em;
}
.cd-tabs-content li.selected {
  display: block;
  -webkit-animation: cd-fade-in 0.5s;
  -moz-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}
@media only screen and (min-width: 768px) {
  .cd-tabs-content {
    min-height: 480px;
  }
  .cd-tabs-content li {
    padding: 2em 2em 2em 7em;
  }
}


@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

form {
	position: relative;
	margin-top: 20px !important;
}

.textbox {
	background: transparent;
	border: none;
	font-family: 'Lato';
	font-weight: 300;
	color: $main-color !important;
	padding: 6px 2px;
	border-bottom: solid 1px #d4d4d4;
	width: 100%;
	font-size: 17px;
}
textarea {
	resize: none;
	height: 90px;
	width: 100%;
	font-size: 17px;
}
.button {
	border: solid 1px #d4d4d4;
	border-radius: 2px;
	padding:6px 16px;
	color: #d4d4d4;
	background:transparent;
	cursor: pointer;
	float: right;
}
.button:hover {
	border: solid 1px #fff;
	border-radius: 2px;
	padding:6px 16px;
	color: #fff;
	background:transparent;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.08);
}
#message {
	margin-bottom:10px;
}

html {
	background-color: #eaebec;
	font-family: Lato;
}

header {
	background-color: $main-color;
	width: 100%;
	height: 55px;
    position: fixed;
    top: 0;
    z-index: 10;

	> #logo {
		display: inline-block;
		height: inherit;
		position: absolute;
		//@include position(absolute, 0 null 0 0);

		> img {
			height: inherit;
			width: auto;
			margin-left: 10px;
		}
	}
	> #nav-container {
	   	position: initial;
	   	height: inherit;
		> #cssmenu {
		    -webkit-transition: right 0.3s;
		    -moz-transition: right 0.3s;
		    transition: right 0.3s;
		    -webkit-overflow-scrolling: touch;
		    height: inherit;
			> ul {
				@include position(absolute, 0 0 0 null);
				margin-right: 10px;

				height: inherit;

				> li {
					float: left;
					display: block;
					line-height: 55px;
					height: inherit;
					//background: $main-color;

					> a {
						color: rgb(255, 255, 255);
						font-weight: 300;
						text-decoration: none;
						padding: 0 18px;
						float: none;
						display: block;
						font-size: 14px;
					}

					&:hover > a {
						background-color: $hover-color;
					}

					&.admin {
						background-color: grayscale($main-color);
					}
				}

				#btn-login:hover + li {
					background : rgba(255, 255, 255, .3);
				}


				.btn-nav {
					background: $main-color;
					margin:0 5px;
					border: 1px solid rgb(255, 255, 255);
					border-radius: 3px;
					display: initial;
					padding: 4px 22px 6px;

					&:hover {
						background-color: rgba(255, 255, 255, .3);
					}
				}
			}
		}
	}
}


#main {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
    margin-top: 55px;
	.accentuer {
		font-style: italic;
		font-weight: 500;
	}

	.slogan {
		text-align: center;
		font-weight: 300;
		font-size: 30px;
		color: #484848;
		margin-bottom: 40px;
	}

	p {
		font-size: 14px;
		font-size: 0.875rem;
		line-height: 1.6;
		color: #a0a0a0;
	}

	.white-box {
		background-color: #fff;
		padding: 20px;
		margin-bottom: 20px;
		color: #636363;

		h2 {
			font-size: 22px;
			margin-bottom: 20px;
			color: $main-color;
		}

		> .post {
			border: 1px #eaebec solid;
			border-radius: 3px;
			padding: 10px;
		}

		.horaires {

			//border: 1px solid $grey;
			text-align: center;
			vertical-align: center;
			border-collapse: collapse;

			th {
				font-weight: 500;

			}

			th,
			tr,
			td {
				border: 1px solid $grey;
				text-align: center;
				width: 80px;
				height: 20px;
			}

			td {
				height: 50px;
			}

			.noborder {
				border-top: none;
				border-left: none;
			}

		}
		
		> iframe {
			display: inline-block;
		}
	}
}
